@page "/404"

<Heading>Not found</Heading>

<LayoutView Layout="typeof(ErrorPageLayout)">
    <div>
        <div>
            <h2><b>404</b> Страница не найдена</h2>
        </div>
        <div>
            <label>Ресурс, который вы запрашиваете, не существует или временно недоступен.</label>
        </div>
        <br />
        <div>
            <Blazorise.Link To="/home">Перейти на главную страницу</Blazorise.Link>
        </div>
    </div>
</LayoutView>