@using System.Threading
@using YA.WebClient.Application.Interfaces
@using YA.WebClient.Application.Enums
@using YA.WebClient.Application.Models.ViewModels
@using YA.WebClient.Application

@inject IUiUserSettingsService UiSettings
@inject IJSRuntime JS

@implements IDisposable

<Alert Padding="Padding.Is2"
       Color="Color.Info"
       Dismisable="true"
       Visible="!_dismissed">
    <Paragraph Padding="Padding.Is0" Margin="Margin.Is2.FromTop.Is2.FromBottom" Style="font-size:small">
        <div class="ml-4 mr-4 d-inline-block p-0">
            <Icon Name="IconName.ExclamationCircle" TextColor="TextColor.Warning" /> Если вы выбрали поиск во ВКонтакте,
            то в результатах выдачи не будет статистической информации сообществ. Если вы выбрали поиск по базе Venando,
            то в результатах поиска будут только сообщества численностью более 100 человек, а статистическая информация
            собирается только для сообществ с числом участников более 1000 человек.
        </div>
    </Paragraph>
    <CloseButton Clicked="@(async () => await DismissAsync())" />
</Alert>

@code
{
    private readonly CancellationTokenSource _cts = new CancellationTokenSource();
    private bool _dismissed;

    protected override async Task OnInitializedAsync()
    {
        _dismissed = await UiSettings.GetVkCommunityAlertDismissedAsync(_cts.Token);
    }

    private async Task DismissAsync()
    {
        await UiSettings.SetVkCommunityAlertDismissedAsync(true, _cts.Token);
        _dismissed = true;
        StateHasChanged();
    }

    public void Dispose()
    {
        _cts.Cancel();
    }
}