@inherits LayoutComponentBase

<div class="loading-overlay">
	<LoadingBackground ShowContent="true" ShowSpinner="true" ShowChildContent="true" ShowBackgroundImage="false" />
	<div class="loading-layout-body">
		@Body
	</div>
</div>